@use 'variables';

* {
    position: relative;
    box-sizing: border-box;
    will-change: color background-color background-image background-position padding margin font-size border flex align-items justify-content letter-spacing;
    transition: color background-color background-image padding margin font-size border flex align-items justify-content letter-spacing .2s ease-in-out;
    // will-change: all;
    // transition: all .2s ease-in-out;
}

.h1 {
    font: variables.$h1;
    text-transform: uppercase;
    margin: 0;
}

.h2 {
    font: variables.$h2;
}

.h3 {
    font: variables.$h3;
    text-transform: uppercase;
}

.h4 {
    font: variables.$h4;
    text-transform: uppercase;
}

.h45 {
    font: variables.$h45;
    letter-spacing: 4.75px;
    text-transform: uppercase;
}

.h5 {
    font: variables.$h5;
    letter-spacing: 4.75px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    color: variables.$secondary;
}

.sh1 {
    font: variables.$sh1;
    text-transform: uppercase;
    margin: 0;
}

.sh2 {
    font: variables.$sh2;
    letter-spacing: 2.36px;
    color: variables.$secondary;
    text-transform: uppercase;
}

.body-text {
    font: variables.$body-text;
    margin: 0;
    color: variables.$secondary;
    line-height: 32px;
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 991.98px){ 
    .h1 {
        font-size: 130px;
    }

    .h3 {
        font-size: 45px;
    }

    .h4 {
        font-size: 30px;
    }

   .h5 {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .body-text {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 575.98px) { 
    .h1 {
        font-size: 100px;
    }

    .h3 {
        font-size: 32px;
        text-align: center;
    }

    .h4 {
        font-size: 24px;
    }

    .h5 {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .body-text {
        font-size: 14px;
        line-height: 24px;
    }
}