@use 'variables';

h5.pageTitle {
    font: variables.$h5;
    letter-spacing: 4.75px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    color: variables.$secondary;
    padding: 4rem 10rem 0 11vw;

    b {
        color: #FFFFFF50;
    }

    @media (min-width: 768px) and (max-width: 991.98px){ 
        padding: 4rem 0 0 0;
    }

    @media (max-width: 767.98px) {
        padding: 1.5rem 0 0 0;
        font-size: 22px;
        text-align: center;
    }
}