$primary: #0B0D17;
$secondary: #D0D6F9;
$accent: #FFFFFF;
$bellefair: 'Bellefair', serif;
$barlow: 'Barlow Condensed', sans-serif;
$h1: 150px 'Bellefair', serif;
$h2: 100px 'Bellefair', serif;
$h3: 56px 'Bellefair', serif;
$h45: 40px 'Bellefair', serif;
$h4: 32px 'Bellefair', serif;
$h5: 28px 'Barlow Condensed', serif;
$sh1: 28px 'Bellefair', serif;
$sh2: 14px 'Barlow Condensed', sans-serif;
$nav-text: 16px 'Barlow Condensed', sans-serif;
$title-text: 18px 'Barlow Condensed', sans-serif;
$body-text: 18px 'Barlow', sans-serif;