* {
  position: relative;
  box-sizing: border-box;
  will-change: color background-color background-image background-position padding margin font-size border flex align-items justify-content letter-spacing;
  transition: color background-color background-image padding margin font-size border flex align-items justify-content letter-spacing 0.2s ease-in-out;
}

.h1 {
  font: 150px "Bellefair", serif;
  text-transform: uppercase;
  margin: 0;
}

.h2 {
  font: 100px "Bellefair", serif;
}

.h3 {
  font: 56px "Bellefair", serif;
}

.h4 {
  font: 32px "Bellefair", serif;
}

.h5 {
  font: 28px "Barlow Condensed", serif;
  letter-spacing: 4.75px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  color: #D0D6F9;
}

.sh1 {
  font: 28px "Bellefair", serif;
  text-transform: uppercase;
  margin: 0;
}

.sh2 {
  font: 14px "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
  color: #D0D6F9;
  text-transform: uppercase;
}

.body-text {
  font: 18px "Barlow", sans-serif;
  margin: 0;
  color: #D0D6F9;
  line-height: 32px;
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .h1 {
    font-size: 130px;
  }
  .h5 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .body-text {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 575.98px) {
  .h1 {
    font-size: 100px;
  }
  .h5 {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .body-text {
    font-size: 14px;
    line-height: 24px;
  }
}
nav.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0 50px;
}
nav.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.navigation ul .navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.5vmin;
  font: 16px "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 300;
  height: 100%;
  padding: 2rem 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.1s ease-in-out;
}
nav.navigation ul .navbar-item b {
  height: fit-content;
}
nav.navigation ul .navbar-item.active {
  border-bottom: 2px solid #FFFFFF;
}
nav.navigation ul .navbar-item:hover {
  border-bottom: 2px solid #979797;
}
nav.navigation .burger {
  display: none;
}
@media (max-width: 767.98px) {
  nav.navigation ul {
    padding: 2rem 0 0 2rem !important;
  }
  nav.navigation ul .burger {
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}
nav.navigation hr {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3137254902);
  width: 32vw;
  height: 1px;
  border: none;
  z-index: 1;
  left: 15vw;
}
nav.navigation ul {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.0274509804);
  padding: 0 10vw 0 7vw;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.7vw;
}
nav.navigation ul li {
  margin: 0 10px;
  height: 100%;
  padding: 37px 0;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  nav.navigation {
    padding: 0 0 0 50px;
  }
  nav.navigation hr {
    display: none;
  }
  nav.navigation ul {
    padding: 0 7vw 0 7vw;
    gap: 1.7vw;
    background-color: rgba(255, 255, 255, 0.0588235294);
  }
  nav.navigation ul li {
    padding: 37px 0;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  nav.navigation hr {
    display: none;
  }
  nav.navigation ul {
    background-color: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  nav.navigation ul .navbar-item {
    display: none;
  }
}
@media (max-width: 767.98px) {
  nav.navigation {
    padding: 0 30px 0 30px;
    min-width: 350px;
  }
  nav.navigation a.site-logo {
    padding-top: 1.5rem;
  }
  nav.navigation hr {
    display: none;
  }
  nav.navigation ul {
    background-color: transparent;
    -webkit-backdrop-filter: none;
    -moz-backdrop-filter: none;
    backdrop-filter: none;
  }
  nav.navigation ul .hideMenu {
    display: none;
  }
  nav.navigation ul .showMenu {
    display: flex;
    height: -webkit-fit-content;
    height: fit-content;
    padding: 2rem 0.5rem 1rem 0.5rem;
  }
  nav.navigation ul.navbar-list.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5rem !important;
    width: 65vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.062745098);
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    z-index: 100;
    gap: 1rem;
    transition: all 0.5s ease-in-out;
    animation: slideInFromRight 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  nav.navigation ul.navbar-list.active li {
    display: flex;
    box-sizing: initial;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0 1rem 0;
    font: 16px "Barlow Condensed", sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
  }
  nav.navigation ul.navbar-list.active li.active {
    border-bottom: 2px solid #FFFFFF;
  }
  nav.navigation ul.navbar-list.active li:hover {
    border-bottom: 2px solid #979797;
  }
  nav.navigation ul.navbar-list.active li a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  nav.navigation ul.navbar-list.active .burger {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
  }
  nav.navigation ul.navbar-list.active .burger:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 7px #FFFFFF);
  }
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideOutToRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}
body {
  font-family: "Barlow Condensed", sans-serif;
  height: 100vh;
  background-color: black;
  margin: 0;
  color: #FFFFFF;
}

main#landingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("../img/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
main#landingPage .main-content {
  padding: 2vh 10vw 13vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 100vh;
}
main#landingPage .main-content aside.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: min-content;
}
main#landingPage .main-content aside.button-side a.rounded-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 17.125rem;
  height: 17.125rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #0B0D17;
  font: 32px "Bellefair", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
main#landingPage .main-content aside.button-side a.rounded-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1254901961);
  z-index: 0;
  transition: all 0.1s ease-in-out;
  top: 0;
  left: 0;
}
main#landingPage .main-content aside.button-side a.rounded-btn:hover::after {
  transform: scale(1.5);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  main#landingPage {
    background-image: url("../img/home/background-home-tablet.jpg");
    background-position-y: -180px;
  }
  main#landingPage .main-content {
    height: 100%;
    padding: 2vh 7vw 0 7vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  main#landingPage .main-content aside.headline {
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  main#landingPage .main-content aside.button-side a.rounded-btn {
    margin: 3rem 3rem 2.4rem 3rem;
    height: 15rem;
    width: 15rem;
  }
}
@media (max-width: 767.98px) {
  main#landingPage {
    background-image: url("../img/home/background-home-mobile.jpg");
    padding-top: 0;
  }
  main#landingPage .main-content {
    padding: 2vh 7vw 0 7vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  main#landingPage .main-content aside.headline {
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  main#landingPage .main-content aside.button-side a.rounded-btn {
    margin: 3rem 3rem 2.4rem 3rem;
    height: 15rem;
    width: 15rem;
  }
}
#destination {
  background-image: url("../img/destination/background-destination-desktop.jpg");
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}
#destination .destination .destination-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.5rem;
}
#destination .destination .destination-content img {
  animation: rotate 50s linear infinite, slideInLeft 1s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}
#destination .destination .destination-content aside {
  width: min(100%, 500px);
}
#destination .destination .destination-content aside ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
}
#destination .destination .destination-content aside ul li {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.5vmin;
  font: 16px "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  height: 100%;
  padding: 1rem 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
#destination .destination .destination-content aside ul li.active {
  border-bottom: 2px solid #FFFFFF;
}
#destination .destination .destination-content aside ul li:hover {
  border-bottom: 2px solid #979797;
}
#destination .destination .destination-content aside .destination-info {
  animation: slideInTop 1s ease-in-out;
}
@keyframes slideInTop {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
#destination .destination .destination-content aside .destination-info hr {
  width: 100%;
  margin: 2rem 0 0 0;
  border: 0.3px solid rgba(255, 255, 255, 0.3137254902);
  height: 0px;
}
#destination .destination .destination-content aside .destination-info .destination-details {
  display: flex;
  gap: 5rem;
}

@media (max-width: 991.98px) {
  #destination .destination {
    padding: 1rem 3rem 2rem 3rem;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  #destination .destination {
    padding: 1rem 2rem 2rem 2rem;
  }
}
@media (max-width: 991.98px) {
  #destination .destination .destination-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }
  #destination .destination .destination-content img {
    width: min-content;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  #destination .destination .destination-content img {
    width: 100%;
    min-width: 300px;
  }
}
@media (max-width: 991.98px) {
  #destination .destination .destination-content aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #destination .destination .destination-content aside .destination-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #destination .destination .destination-content aside .destination-info p.body-text {
    text-align: center;
  }
  #destination .destination .destination-content aside .destination-info .destination-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
  }
}
h5.pageTitle {
  font: 28px "Barlow Condensed", serif;
  letter-spacing: 4.75px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  color: #D0D6F9;
  padding: 4rem 10rem 0 11vw;
}
h5.pageTitle b {
  color: rgba(255, 255, 255, 0.3137254902);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h5.pageTitle {
    padding: 4rem 0 0 0;
  }
}
@media (max-width: 767.98px) {
  h5.pageTitle {
    padding: 1.5rem 0 0 0;
    font-size: 22px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
